/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7/06/2019, 07:12:43 PM
    Author     : Shineruze
*/

body {

    text-align: center;
    background-color: #F3FCFF;
    color: #465E76;
    margin: 0px;
}

.tache{
    width: 50px;
    height: 50px;
}

.cartas-numeros{
    width: 100px;
    height: 100px;
    /* border: #465E76 solid; */

}


.scrolling-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.titulo {
    font-size: 4em;
    text-transform: uppercase;
    color: #465E76;
}
